@import "scss/variables/gobal";
@import "scss/variables/bootstrap";
@import "~bootstrap/scss/bootstrap";
@import "~flag-icon-css/sass/flag-icon";
@import "~simple-line-icons/scss/simple-line-icons";

@import "scss/aside/main";
@import "scss/menu/main";
@import "scss/breadcrumb";
@import "scss/btn";
@import "scss/confirm";
@import "scss/modal";
@import "scss/loading.io";
@import "scss/navbar";
@import "scss/switch";
@import "scss/container";
@import "scss/dropdown";

@import "scss/component/login";

html, body {
  background-color: $body-bg;
  height: 100%;
}

button, a {
  outline: none;
}

body.has-stack-menu {
  > .container {
    padding-left: $main-menu-width;

    @include media-breakpoint-down(sm) {
      padding-left: $main-menu-width - 20px;
    }
  }
}

.animated {
  animation-duration: 0.5s;
  animation-fill-mode: both;
}
