.cross-container {
  position: relative;
  width: 20px;
  height: 20px;
  cursor: pointer;
  span {
    position: absolute;
    display: block;
    width: 100%;
    height: 1px;
    border-radius: 3px;
    background: #fff;
  }
  .top {
    top: 10px;
    left: 0;
    transform: rotate(45deg);
  }
  .bottom {
    bottom: 9px;
    left: 0;
    transform: rotate(-45deg);
  }
}

.button {
  transition: all 0.5s;

  &.button-signup, &.button-cta {
    padding: 22px 40px !important;
    &.btn-outlined.is-bold {
      border-width: 2px;
      font-weight: 600;
    }
  }
  &.no-lh {
    line-height: 0 !important;
  }
  &.button-action {
    padding: 25px 40px !important;
  }
  &.btn-align {
    padding: 3px 13px 6px 13px;
  }
  &.btn-align-md {
    padding: 5px 15px 18px 15px;
  }
  &.btn-align-lg {
    padding: 6px 15px 18px 15px;
  }
  &.btn-upper {
    text-transform: uppercase;
  }
  &.rounded {
    border-radius: 500px;
  }
  &.raised:hover {
    box-shadow: 0 14px 26px -12px rgba(0, 0, 0, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2) !important;
    opacity: 0.8;
  }
  &.is-raised {
    box-shadow: 0 14px 26px -12px rgba(0, 0, 0, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2) !important;
  }
  &.btn-fade:hover {
    opacity: 0.6;
  }
  &.btn-outlined {
    background: transparent;
    &.light-btn {
      border-color: #fff;
      color: #fff;
      &:hover {
        background-color: #fff;
        color: #444F60;
      }
    }
    &.is-bold {
      border-width: 2px;
      font-weight: 600;
    }
  }
  &.btn-padding {
    padding: 6px 13px 16px 13px !important;
  }
  &.default-btn {
    color: #cecece !important;
  }
  &.is-link {
    text-decoration: none !important;
  }
  &.has-icon-right i {
    padding-left: 8px;
  }
  &:focus {
    border-color: #ccc;
  }
  i {
    position: relative;
    top: 1px;
    padding-right: 8px;
  }
  &.has-icon i {
    position: relative;
    margin-right: 5px;
    font-size: 1.7rem;
  }
  &.is-fullwidth {
    display: block !important;
    width: 100% !important;
    text-align: center !important;
  }
  &.btn-square {
    width: 45px;
    height: 45px;
    text-align: center !important;
    display: block;
    &.is-small {
      width: 36px;
      height: 36px;
    }
    &.is-medium {
      width: 55px;
      height: 55px;
    }
    &.is-large {
      width: 64px;
      height: 64px;
    }
    i {
      top: 5px;
      font-size: 21px;
      padding: 0 !important;
    }
    &.is-small i {
      top: 4px;
      font-size: 18px;
    }
    &.is-medium i {
      font-size: 28px;
    }
    &.is-large i {
      top: 7px;
      font-size: 32px;
    }
  }
  &.is-link {
    &.btn-more {
      text-decoration: none !important;
    }
    &.color-primary i {
      font-size: 9px;
      margin-left: 10px;
      position: relative;
      top: 2px;
      color: $primary !important;
      transition: all 0.5s;
    }
    &:hover i {
      transform: translate(10px, 0);
    }
  }
  &.primary-btn {
    outline: none;
    border-color: $primary;
    background-color: $primary;
    color: #fff;
    transition: all 0.5s;
    &:hover {
      color: #fff;
    }
    &.raised:hover {
      box-shadow: 0 14px 26px -12px rgba($primary, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba($primary, 0.2) !important;
      opacity: 0.95;
    }
    &.btn-outlined {
      border-color: $primary;
      color: $primary;
      background-color: transparent;
      &:hover {
        color: #fff;
        background-color: $primary;
      }
    }
    &:focus {
      border-color: $primary;
    }
  }
  &.secondary-btn {
    outline: none;
    border-color: $secondary;
    background-color: $secondary;
    color: #fff;
    transition: all 0.5s;
    &:hover {
      color: #fff;
    }
    &.raised:hover {
      box-shadow: 0 14px 26px -12px rgba($secondary, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba($secondary, 0.2) !important;
      opacity: 0.95;
    }
    &.btn-outlined {
      border-color: $secondary;
      color: $secondary;
      background-color: transparent;
      &:hover {
        color: #fff;
        background-color: $secondary;
      }
    }
    &:focus {
      border-color: $secondary;
    }
  }
  &.accent-btn {
    outline: none;
    border-color: $cyan;
    background-color: $cyan;
    color: #fff;
    transition: all 0.5s;
    &:hover {
      color: #fff;
    }
    &.raised:hover {
      box-shadow: 0 14px 26px -12px rgba($cyan, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba($cyan, 0.2) !important;
      opacity: 0.8;
    }
    &.btn-outlined {
      border-color: $cyan;
      color: $cyan;
      background-color: transparent;
      &:hover {
        color: #fff;
        background-color: $cyan;
      }
    }
    &:focus {
      border-color: $cyan;
    }
  }
  &.success-btn {
    outline: none;
    border-color: $success;
    background-color: $success;
    color: #fff;
    transition: all 0.5s;
    &:hover {
      color: #fff;
    }
    &.raised:hover {
      box-shadow: 0 14px 26px -12px rgba($success, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba($success, 0.2) !important;
      opacity: 0.8;
    }
    &.btn-outlined {
      border-color: $success;
      color: $success;
      background-color: transparent;
      &:hover {
        color: #fff;
        background-color: $success;
      }
    }
    &:focus {
      border-color: $success;
    }
  }
  &.warning-btn {
    outline: none;
    border-color: $warning;
    background-color: $warning;
    color: #fff;
    transition: all 0.5s;
    &:hover {
      color: #fff;
    }
    &.raised:hover {
      box-shadow: 0 14px 26px -12px rgba($warning, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba($warning, 0.2) !important;
      opacity: 0.8;
    }
    &.btn-outlined {
      border-color: $warning;
      color: $warning;
      background-color: transparent;
      &:hover {
        color: #fff;
        background-color: $warning;
      }
    }
    &:focus {
      border-color: $warning;
    }
  }
  &.danger-btn {
    outline: none;
    border-color: $danger;
    background-color: $danger;
    color: #fff;
    transition: all 0.5s;
    &:hover {
      color: #fff;
    }
    &.raised:hover {
      box-shadow: 0 14px 26px -12px rgba($danger, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba($danger, 0.2) !important;
      opacity: 0.8;
    }
    &.btn-outlined {
      border-color: $danger;
      color: $danger;
      background-color: transparent;
      &:hover {
        color: #fff;
        background-color: $danger;
      }
    }
    &:focus {
      border-color: $danger;
    }
  }
  &.info-btn {
    outline: none;
    border-color: $info;
    background-color: $info;
    color: #fff;
    transition: all 0.5s;
    &:hover {
      color: #fff;
    }
    &.raised:hover {
      box-shadow: 0 14px 26px -12px rgba($info, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba($info, 0.2) !important;
      opacity: 0.8;
    }
    &.btn-outlined {
      border-color: $info;
      color: $info;
      background-color: transparent;
      &:hover {
        color: #fff;
        background-color: $info;
      }
    }
    &:focus {
      border-color: $info;
    }
  }
  &.social-btn {
    color: #fff;
    &.facebook {
      background-color: #3B5998;
    }
    &.twitter {
      background-color: #1dcaff;
    }
    &.linkedin {
      background-color: #007bb6;
    }
    &.tumblr {
      background-color: #35465c;
    }
    &.github {
      background-color: #444;
    }
    &.icon-solo i.fa {
      top: 12px !important;
    }
  }
}

.ripple {
  overflow: hidden;
}

.ripple-effect {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: transparent;

  .ripple-circle {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    width: 0;
    height: 0;
    border-radius: 50%;
    background: rgba(255, 255, 255, .25);
    animation: a-ripple .4s ease-in;
  }
}

@keyframes a-ripple {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  100% {
    width: 200%;
    padding-bottom: 200%;
    opacity: 0;
  }
}
