.flex-card {
  position: relative;
  background-color: #fff;
  border: 1px solid #fcfcfc;
  border-radius: 0.1875rem;
  display: inline-block;
  overflow: hidden;
  width: 100%;
  margin-bottom: 20px;
  transition: all 0.5s;
  .flex-card-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    border-bottom: 1px solid #ededed;
    padding: 10px 15px;
    .header-avatar {
      max-height: 45px;
      img {
        height: 45px;
        border-radius: 100px;
      }
    }
    .header-info {
      margin: 0 10px;
      .header-title {
        font-size: 1.2rem;
      }
      .header-subtitle {
        font-size: 0.9rem;
        color: #A9ABAC;
      }
    }
    .header-control {
      margin-right: 10px;
      i {
        font-size: 0.8rem;
        color: #A9ABAC;
      }
      &:hover i {
        color: #00D1B2;
      }
    }
    &.primary {
      background: #00D1B2;
      .header-info div, .header-control i {
        color: #fff !important;
      }
    }
    &.secondary {
      background: #7F00FF;
      .header-info div, .header-control i {
        color: #fff !important;
      }
    }
    &.accent {
      background: #536dfe;
      .header-info div, .header-control i {
        color: #fff !important;
      }
    }
  }
  .card-body {
    padding: 30px 30px;
    &.is-small {
      padding: 20px 20px;
    }
    &.is-large {
      padding: 40px 40px;
    }
  }
  h3.card-title {
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 22px;
    line-height: 30px;
    text-decoration: none;
  }
  .card-description {
    line-height: 24px;
    cursor: default;
    color: #777;
    font-size: 16px;
  }
  &.primary-card {
    background: #00D1B2;
    .content {
      color: #fff !important;
      h2 {
        color: #fff !important;
      }
    }
  }
  &.secondary-card {
    background: #7F00FF;
    .content {
      color: #fff !important;
      h2 {
        color: #fff !important;
      }
    }
  }
  &.accent-card {
    background: #536dfe;
    .content {
      color: #fff !important;
      h2 {
        color: #fff !important;
      }
    }
  }
  &.card-overflow {
    overflow: visible !important;
  }
  &.light-bordered {
    border: 1px solid #e5e5e5 !important;
  }
  &.simple-shadow {
    box-shadow: (-1px) 3px 10px 0 rgba(0, 0, 0, 0.06);
  }
  &.light-raised {
    box-shadow: 0 3px 10px 4px rgba(0, 0, 0, 0.04);
  }
  &.raised {
    box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.2);
  }
  &.hover-raised:hover {
    box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }
  &.hover-inset:hover {
    box-shadow: inset rgba(143, 160, 241, 0.2) 0 0 0 1px, rgba(213, 220, 247, 0.59) 0 10px 20px;
    cursor: pointer;
  }
  .tabs {
    padding: 15px 0.7rem;
  }
  .navtab-content {
    min-height: 190px;
    p {
      padding: 0 0.8rem 20px;
    }
  }
  &.icon-card {
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.1);
    transition: inherit;
    margin-bottom: 0;
    img {
      max-height: 80px;
    }
    .icon-card-text {
      font-size: 1.1rem;
      color: #A9ABAC;
    }
  }
  .card-content {
    position: relative;
    padding: 1rem !important;
    .bottom-avatar img {
      height: 50px;
      border-radius: 100px;
      position: absolute;
      right: 0;
      bottom: 0;
    }
  }
}
