.jconfirm {
  .container {
    max-width: 400px;
  }
}

.jconfirm.jconfirm-supervan {
  .jconfirm-bg {
    background-color: rgba($secondary, .98);
  }
  .jconfirm-box {
    .jconfirm-buttons {
      button {
        background: none;
        border: 1px solid $white;
        border-radius: 5px;
        margin-right: 1rem;

        &.btn-default {
          color: #fff;
        }
      }
    }
    div.jconfirm-content {
      font-size: $size-4;
    }
    div.jconfirm-title-c {
      .jconfirm-title {
        display: none;
      }
      .jconfirm-icon-c {
        margin: 0;
        padding: 0;
        i {
          font-size: $size-1 + 1rem;
        }
      }
    }
  }
}

.jconfirm .jconfirm-box .jconfirm-buttons button {
  &.btn-blue {
    border-color: $cyan;
    background-color: $cyan;
    color: #FFF;
    text-shadow: none;
    transition: background .2s;
    &:hover {
      background-color: darken($cyan, 10%);
      color: #FFF;
    }
  }
  &.btn-green {
    border-color: $green;
    background-color: $green;
    color: #FFF;
    text-shadow: none;
    transition: background .2s;
    &:hover {
      background-color: darken($green, 10%);
      color: #FFF;
    }
  }
  &.btn-red {
    border-color: $red;
    background-color: $red;
    color: #FFF;
    text-shadow: none;
    transition: background .2s;
    &:hover {
      background-color: darken($red, 10%);
      color: #FFF;
    }
  }
  &.btn-orange {
    border-color: $orange;
    background-color: $orange;
    color: #FFF;
    text-shadow: none;
    transition: background .2s;
    &:hover {
      background-color: darken($orange, 10%);
      color: #FFF;
    }
  }
  &.btn-default {
    background-color: transparent;
    color: #000;
    text-shadow: none;
    transition: background .2s;
    &:hover {
      background-color: $white-ter;
      color: #000;
    }
  }
  &.btn-purple {
    border-color: $purple;
    background-color: $purple;
    color: #FFF;
    text-shadow: none;
    transition: background .2s;
    &:hover {
      background-color: darken($purple, 10%);
      color: #FFF;
    }
  }
  &.btn-dark {
    border-color: $grey-dark;
    background-color: $grey-dark;
    color: #FFF;
    text-shadow: none;
    transition: background .2s;
    &:hover {
      background-color: darken($grey-dark, 10%);
      color: #FFF;
    }
  }
}
