.modal {
  z-index: 9999;
  transition: all 0.5s;
  transform: scale(0);
  .modal-content {
    transition: all 0.4s;
    transform: scale(0);
    opacity: 0;
    z-index: 99 !important;
  }
  .modal-close {
    transition: all 0.4s;
    z-index: 100 !important;
    &:hover {
      transform: rotate(135deg);
    }
  }
  a {
    border-radius: 6px;
  }
  &.is-active {
    transform: scale(1);
    .modal-background {
      background: $primary;
      width: 1000px;
      height: 1000px;
      border-radius: 10000px;
      transition: all 0.5s;
      transform: scale(0);
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: 98 !important;
      overflow: hidden !important;
      &.scaleInCircle {
        transform: scale(7);
      }
    }
    .modal-content.scaleIn {
      transform: scale(1);
      opacity: 1;
    }
    .modal-close {
      z-index: 100 !important;
    }
    &.image-modal {
      .modal-background {
        background-color: #444F60;
      }
      img {
        border-radius: 6px;
      }
      .gallery-item figure {
        background: none;
      }
    }
    .modal-card {
      .modal-card-head, .modal-card-foot {
        padding: 15px;
      }
      .modal-card-head {
        background-color: #fff;
        p {
          color: $grey-dark;
        }
        .delete {
          background: transparent !important;
          transition: all 0.3s;
          &:before, &:after {
            background: $cyan;
          }
          &:hover {
            transform: rotate(135deg);
          }
        }
      }
      .modal-card-body {
        &::-webkit-scrollbar {
          width: 10px;
        }
        &::-webkit-scrollbar-thumb {
          border-radius: 5px;
          background: rgba(0, 0, 0, 0.2);
        }
      }
      .modal-card-foot {
        background-color: #fff;
        justify-content: flex-end;
        border-top: none;
      }
    }
    &.modal-sm .modal-card-body {
      max-height: 400px;
    }
    &.modal-hero .modal-background {
      background: linear-gradient(to right, #536dfe, $secondary);
      background-color: $secondary;
    }
    &.modal-success .modal-background {
      background: $success;
    }
    &.modal-error .modal-background {
      background: $danger;
    }
    &.modal-warning .modal-background {
      background: $warning;
    }
    &.modal-info .modal-background {
      background: $info;
    }
    .modal-svg {
      max-width: 110px;
      margin: 0 auto !important;
    }
  }
}

@media screen and (min-width: 769px) {
  .modal {
    &.modal-lg {
      .modal-card, .modal-content {
        width: 800px !important;
      }
    }
    &.modal-sm {
      .modal-card, .modal-content {
        width: 400px !important;
      }
    }
  }
}
