.navbar {
  background: none;
  margin-left: $nav-top-margin;

  @include mobile() {
    margin-left: $nav-top-margin - 20px;
  }

  .navbar-menu {
    display: flex;
    box-shadow: none;
    background: none;
  }

  .navbar-start {
    @include mobile() {
      display: none;
    }
  }

  .navbar-end {
    display: flex;
    align-items: stretch;
    justify-content: flex-end;
    margin-left: auto;

    i {
      font-size: $size-medium;
      position: relative;

      .badge-circle {
        width: 8px;
        height: 8px;
        top: -8px;
        right: -5px;
        position: absolute;
        border-radius: 50px;
        background-color: $primary;
      }

      + span {
        margin-left: .5rem;
      }
    }

    a.navbar-user {
      @extend .navbar-item;
      display: flex;
      align-items: center;

      &:hover {
        background-color: $grey-lighter;
        color: black;
      }
    }
  }
}
