.navigation-tabs {
  overflow: hidden;
  .navtab-content {
    display: none;
    padding: 15px;
    min-height: 190px;
    &.navtab-modal {
      max-height: 350px;
      overflow: auto;
    }
    &.is-active {
      display: block;
    }
  }
  &.animated-tabs .navtab-content {
    animation-name: fadeInLeft;
    animation-duration: 0.5s;
  }
  &.translated-tabs .navtab-content {
    animation-name: translateLeft;
    animation-duration: 0.5s;
  }
  &.simple-tabs .tabs ul li {
    a {
      color: #A9ABAC;
    }
    &:hover a {
      border-bottom-color: $primary;
    }
    &.is-active a {
      color: #444F60;
      border-bottom: 2px solid $primary;
      .icon i {
        color: $primary;
      }
    }
  }
  &.boxed-tabs .tabs ul li {
    a {
      color: #A9ABAC;
    }
    &.is-active a {
      color: $primary;
    }
  }
  &.outlined-pills {
    &.rounded-pills .tabs ul li.is-active a {
      border-radius: 100px;
    }
    .tabs {
      ul {
        border-bottom: 1px transparent !important;
      }
      a {
        border: 1px transparent;
      }
      ul li {
        a {
          color: #A9ABAC;
          margin-bottom: 5px;
        }
        &.is-active a {
          color: $primary;
          border: 1px solid $primary;
          border-bottom-color: $primary !important;
          border-radius: 3px;
        }
      }
    }
  }
  &.full-pills {
    &.rounded .tabs ul li.is-active a {
      border-radius: 100px !important;
    }
    .tabs {
      ul {
        border-bottom: 1px transparent !important;
        padding-bottom: 10px;
      }
      a {
        border: 1px transparent;
      }
      ul li a {
        color: #A9ABAC;
        margin-bottom: 5px;
      }
    }
    &.primary .tabs ul li.is-active a {
      color: #fff;
      border: 1px solid $primary;
      background-color: $primary;
      border-radius: 3px;
      box-shadow: 0 14px 26px -12px rgba($primary, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba($primary, 0.2) !important;
    }
    &.secondary .tabs ul li.is-active a {
      color: #fff;
      border: 1px solid $secondary;
      background-color: $secondary;
      border-radius: 3px;
      box-shadow: 0 14px 26px -12px rgba($secondary, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba($secondary, 0.2) !important;
    }
    &.accent .tabs ul li.is-active a {
      color: #fff;
      border: 1px solid $special;
      background-color: $special;
      border-radius: 3px;
      box-shadow: 0 14px 26px -12px rgba($special, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba($special, 0.2) !important;
    }
  }
  &.square-pills {
    &.circle-pills .tabs ul li a {
      border-radius: 30px;
    }
    .tabs ul {
      padding: 20px;
      li {
        a {
          padding: 0 15.5px;
          text-align: center;
          height: 60px;
          width: 60px;
          border-radius: 3px;
          font-weight: 400;
          color: #9a9a9a;
          margin-right: 19px;
          background-color: rgba(222, 222, 222, 0.3);
          border-bottom: 1px solid transparent;
          transition: all 0.5s;
          :hover {
            border-bottom: 1px solid transparent;
          }
          i {
            display: block;
            font-size: 18px;
          }
        }
        &.is-active a {
          background-color: $primary;
          color: #fff;
          box-shadow: 0 5px 35px 0 rgba(0, 0, 0, 0.18);
        }
      }
    }
  }
}
