{% if app.user and app.user.verified is same as(false) %}
    <form data-ajax-form="{{ path('cse_account_request_email_verification_token') }}" method="post">
        <div class="alert alert-warning has-icon d-flex align-items-center" role="alert">
            <div class="alert-icon">
                <span class="fa fa-bullhorn"></span>
            </div>
            {{ 'Your account need to verify process, If you have no an email please it.' }}
            <button type="submit" class="btn btn-primary ml-auto">{{ 'chang.ui.resend'|trans }}</button>
        </div>
    </form>
{% endif %}
