{% if ctx_page.inbox|default %}
    {% set totalUnseen = ctx_page.inbox.totalUnseen %}
    <li class="nav-item dropdown header-nav-dropdown{{ print_if(' has-notified', totalUnseen) }}" data-inbox="{{ ctx_page.inbox|json_encode }}">
        <a class="nav-link" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="far fa-envelope-open"></i>
        </a>
        <div class="dropdown-arrow"></div>
        <div class="dropdown-menu dropdown-menu-rich dropdown-menu-right" data-inbox-list="{{ path('chang_account_ajax_messages') }}">
            <div class="loader"></div>
        </div>
    </li>
{% endif %}
