.menu-child {
  background: $secondary;
  border-right: 1px solid #e5e5e5;
  position: fixed;
  top: 0;
  bottom: 0;
  transform: translateX(-251px);
  left: 80px;
  width: 250px;
  overflow: hidden;
  transition: all .3s;
  z-index: 999;
  &-inner {
    height: 100%;
    ul li {
      min-height: 65px;
    }
  }
  .child-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-bottom: 1px solid ligthen($secondary, 15%);
    .cross-container {
      margin-right: 15px;
      transform: scale(1.1);
    }
  }
  .sidebar-title {
    margin-right: auto;
    padding-left: 20px;
    font-size: 1.1rem;
    text-transform: uppercase;
    font-weight: 300;
    color: #fcfcfc;
    letter-spacing: 3px;
  }
  ul.sidebar-menu {
    margin: 0;
    padding: 7px 0;
    max-width: 400px;
    list-style: none;
    display: none;
    &.is-active {
      display: block;
    }
  }
  .sidebar-menu li a {
    span {
      margin-right: 20px;
      color: #fff;
    }
    padding: 20px 25px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    color: #fff;
    &:hover {
      background-color: darken($secondary, 5%);
      padding: 20px 25px;
      text-decoration: none;
      color: #fff;
    }
  }
  li {
    &.have-children {
      &.active {
        background-color: $secondary;
      }
      ul {
        padding: 0;
        background-color: darken($secondary, 15%);
        li {
          min-height: 10px !important;
          a {
            background-color: darken($secondary, 20%);
            padding: 12px 25px 12px 62px;
            span {
              margin-left: auto;
              margin-right: 10px;
              &:after {
                content: "";
              }
            }
            &:hover {
              color: #fff;
              background-color: darken($secondary, 25%);
              padding: 12px 25px 12px 62px;
            }
          }
          &.is-active a {
            color: #fff;
            background-color: darken($secondary, 25%);
            padding: 12px 25px 12px 62px;
          }
        }
      }
      position: relative;
    }
    position: relative;
  }
  .have-children span::after {
    position: absolute;
    top: 21px;
    right: 30px;
    content: "\E409";
    color: #fff;
    transition: all 0.5s;
  }
  li.active.have-children span::after {
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  .sidebar-menu .have-children > ul {
    display: none;
  }
}

.is-sidebar-translated {
  transform: translateX(0);
}
