{#
<nav class="navbar">
    <div class="navbar-menu">
        <div class="navbar-start">
            {% include 'modern/_breadcrumb.html.twig' %}
        </div>

        <div class="navbar-end">
            <a class="navbar-user" href="#" data-tgg="aside">
                <i class="sl-ico-user"><span class="badge-circle gelatine"></span></i>
                <span>Liverbool</span>
            </a>
        </div>
    </div>
</nav>
#}
<nav class="navbar navbar-expand-lg">
    <div class="collapse navbar-collapse">
        {% include 'modern/_breadcrumb.html.twig' %}
    </div>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" href="#">
                {{ ui_icon('fas fa-th') }}
            </a>
        </li>
        {#<li class="nav-item has-notified">
            <a class="nav-link" href="#" data-tgg="aside">
                {{ ui_icon('far fa-envelope-open') }}
            </a>
        </li>#}
        <li class="nav-item has-notified">
            <a class="nav-link" href="#" data-tgg="aside">
                <i class="sl-ico-user"></i> <span>Liverbool</span>
            </a>
        </li>
    </ul>
</nav>
