{% extends 'modern/layout.html.twig' %}

{% block body %}
    {% include 'modern/menu/_main.html.twig' %}
    {% include 'modern/menu/_child.html.twig' %}
    {% include 'modern/_navbar.html.twig' %}
    {% include 'modern/aside/_main.html.twig' %}

    <div class="container">
    </div>
{% endblock %}
