<nav class="menu-main is-dark">
    <ul class="menu-main-inner">
        <li class="main-logo">
            <a href="/"><img src="https://bulkit.cssninja.io/assets/images/logos/square-green.svg" alt=""></a>
        </li>
        <li data-menu-child="dashboard-menu">
            <i class="ico-speedometer"></i>
        </li>
        <li data-menu-child="documents-menu">
            <i class="ico-docs"></i>
        </li>
        <li data-menu-child="business-menu">
            <i class="ico-briefcase"></i>
        </li>
        <li data-menu-child="misc-menu">
            <i class="ico-graph"></i>
        </li>
        <li data-menu-child="settings-menu">
            <i class="ico-settings"></i>
        </li>
    </ul>
</nav>
