<nav class="breadcrumb" aria-label="breadcrumbs">
    <ul>
        <li><a href="/"><i class="ico-home"></i></a></li>
        <li><a href="#">Breadcrumb</a></li>
        <li class="is-active"><a href="#" aria-current="page">Current</a></li>
    </ul>
</nav>
