{% extends 'bulma/layout.html.twig' %}

{% block body %}
    {% include 'bulma/menu/_main.html.twig' %}
    {% include 'bulma/menu/_child.html.twig' %}
    {% include 'bulma/_navbar.html.twig' %}
    <div class="body-wrapper">

    </div>
{% endblock %}
