.aside {
  @import "settings";
  @import "reminders";

  display: flex;
  flex-direction: column;
  background-color: #fff;
  min-width: 300px;
  max-width: 300px;
  position: fixed;
  top: 0;
  bottom: 0;
  right: -310px;
  z-index: 999;
  transform: translateZ(0);
  transition: 0.3s ease;
  backface-visibility: hidden;
  perspective: 1000;
  will-change: transform;
  &.is-active {
    right: 0;
    box-shadow: 5px 0 13px 3px rgba(0, 0, 0, 0.1);
    &.is-left {
      left: 0;
    }
  }

  .aside-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    min-height: 66px !important;
    border-bottom: 1px solid #EFF4F7;
    .title {
      margin-bottom: 0;
    }
    &.is-secondary {
      background: $secondary;
      p {
        color: #fff;
        font-size: 1.4rem;
        font-weight: 400;
      }
      i {
        color: #fff;
        font-size: 20px;
      }
    }
    .cross-container {
      transition: transform 0.3s;
      &:hover {
        transform: rotate(90deg);
      }
    }
  }

  .aside-body {
    flex: 1 1 0;
  }

  .aside-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    min-height: 4rem;
    background-color: #fff;
    border-top: 1px solid #EFF4F7;
    > * {
      margin: 0 0.4rem;
    }
  }

  .tabs ul li {
    a {
      height: 80px;
      border-bottom: 2px solid transparent;
      overflow: hidden;
      i {
        font-size: 1.4rem;
        transition: all 0.3s;
        transform: scale(0.8);
      }
    }
    &:hover a {
      border-bottom: 2px solid #ededed !important;
    }
    &.is-active a {
      border-bottom: 2px solid $secondary !important;
      i {
        color: $secondary;
        transform: scale(1);
      }
    }
  }
  .panel-title {
    margin-top: -10px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    &:hover i {
      color: $secondary;
    }
    h3 {
      font-weight: 500;
      color: $grey-light;
    }
    i {
      color: $grey-light;
      cursor: pointer;
    }
  }

  a {
    display: flex;
    align-items: center;

    i {
      margin-right: 1rem;
    }
  }
}
