<nav class="menu-main is-dark">
    <ul class="menu-main-inner">
        <li class="main-logo">
            <a href="/">
                {#<img src="..." alt="">#}
                <span class="material-icons">flight_takeoff</span>
            </a>
        </li>
        <li data-menu-child="dashboard-menu">
            <i class="sl-ico-speedometer"></i>
        </li>
        <li data-menu-child="documents-menu">
            <i class="sl-ico-docs"></i>
        </li>
        <li data-menu-child="business-menu">
            <i class="sl-ico-briefcase"></i>
        </li>
        <li data-menu-child="misc-menu">
            <i class="sl-ico-graph"></i>
        </li>
        <li data-menu-child="settings-menu">
            <i class="sl-ico-settings"></i>
        </li>
    </ul>
</nav>
