{% extends '@ui/modern/layout.html.twig' %}

{% block body %}
    {% include '@ui/modern/menu/_main.html.twig' %}
    {% include '@ui/modern/menu/_child.html.twig' %}
    {% include '@ui/modern/_navbar.html.twig' %}
    {% include '@ui/modern/aside/_main.html.twig' %}

    <div class="container">
    </div>
{% endblock %}
