.container {
  &.full-screen {
    @extend .h-100;
    @extend .d-flex;

    &.centered {
      @extend .justify-content-center;
      @extend .align-items-center;
    }
  }

  &-flash {
    margin-left: -($grid-gutter-width / 2);
    margin-right: -($grid-gutter-width / 2);

    .alert {
      border-radius: 0;
      margin: 0;
    }
  }
}
